/*for text and its color*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
} 
/*header customization*/
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header-text {
  font-size: 23px;
}

.container{
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.search-box{
  width: 250px;
  padding: 8px;
  margin-top: 20px;
  margin-right: 1px;
}

.task-view:not(:last-child) { /* doesn't apply to the last task */
  border-bottom: 1px solid #ccc; 
  padding-bottom: 12px; 
  margin-bottom: 12px; 
}

.task-info {
  display: flex;
  justify-content: space-between;
}

.task-title {
  margin: 0; /* Remove default margin */
}

.due-date {
  margin-left: 10px;
}

.search-button {
    background-color: white;
    border: solid;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

.search-button:hover {
  background-color: #333;
  border: solid;
  border-color: #333;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  color: #fff;
  transition: 0.15s;
}

.add-task-link,
.update-link,
.delete-link {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
  border: 1px solid #333;
}

.completed-task{
  text-decoration: line-through;
  opacity: 0.6;
}

.register-form form {
  margin-top: 20px;
}

.register-form label,
.login-form label {
  display: block;
  margin-bottom: 8px;
}

.register-form input,
.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.register-form p {
  margin-top: 15px;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
}


.update-link:hover,
.delete-link:hover,
.add-task-link:hover,
.create-task-form button:hover,
.update-task-form button:hover,
.delete-task-form button:hover {
  opacity: 0.7;
}

.search-button:active,
.update-link:active,
.delete-link:active,
.add-task-link:active,
.create-task-form button:active,
.update-task-form button:active,
.delete-task-form button:active {
  opacity: 0.5;
  border-color: #007BFF;
}

.create-task-form,
.update-task-form,
.delete-task-form {
  max-width: 800px;
  margin: 20px auto;
}

.create-task-form input[type="text"],
.create-task-form textarea,
.update-task-form input[type="text"],
.update-task-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.create-task-form button,
.update-task-form button,
.delete-task-form button,
.login-form button,
.register-form button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
  border: 1px solid #333;
}

.create-task-form a,
.update-task-form a,
.delete-task-form a {
  display: block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}