{% extends 'tasks/main.html' %}

{% block content %}
    {% if form.errors %}
        <p class="error-message">Invalid username or password. Please try again.</p>
    {% endif %}
    <div class="register-form">
        <h1>Register</h1>

        <form method="POST">
            {% csrf_token %}

            <label>{{form.username.label}}</label>
            {{form.username}}

            <label>{{form.password1.label}}</label>
            {{form.password1}}

            <label>{{form.password2.label}}</label>
            {{form.password2}}

            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
{% endblock %}